<section
  class="min-h-[80vh] bg-cover bg-fixed bg-center"
  style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('/william-shu-G8RhW9reUuc-unsplash.jpg');
  "
>
  <div class="justify-center text-center">
    <h1 class="text-white text-7xl pt-80 title-font">
      BOOK YOUR <br />
      APPOINTMENT ONLINE
    </h1>
  </div>
</section>

<section>
  <div class="flex flex-row justify-center py-20 gap-10">
    <h1 class="title-font text-5xl uppercase">booking Policies</h1>
    <p class="sub-head uppercase">no walk ins // BY APPOINTMENT ONLY</p>
  </div>
</section>

<!--Booking form-->
<section>
  <div>
    <app-booking-form></app-booking-form>
  </div>
</section>
<!--Booking form ends-->
<section>
  <div class="flex flex-row gap-10 py-20 justify-center">
    <div>
      <h1 class="text-1xl uppercase">cancellation & no-shows</h1>
      <p class="sub-head uppercase">no walk ins // BY APPOINTMENT ONLY</p>
    </div>
    <div>
      <h1 class="text-1xl uppercase">late arrivals</h1>
      <p class="sub-head uppercase">no walk ins // BY APPOINTMENT ONLY</p>
    </div>
    <div>
      <h1 class="text-1xl uppercase">refund & returns</h1>
      <p class="sub-head uppercase">no walk ins // BY APPOINTMENT ONLY</p>
    </div>
  </div>
</section>
