<!-- Hero Section -->
<section
  class="h-[60vh] sm:h-[70vh] md:h-[80vh] lg:h-screen bg-cover bg-fixed bg-center flex items-center"
  style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('/william-shu-G8RhW9reUuc-unsplash.jpg');
  "
>
  <div class="w-full px-4 text-center">
    <h1
      class="text-white font-bold leading-tight text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl max-w-3xl mx-auto"
    >
      BOOK YOUR<br />
      APPOINTMENT ONLINE
    </h1>
  </div>
</section>

<!-- Booking Policies -->
<section>
  <div
    class="flex flex-col md:flex-row justify-center items-center py-16 gap-6 md:gap-10 px-4 text-center md:text-left"
  >
    <h1 class="title-font text-3xl sm:text-4xl md:text-5xl uppercase">
      Booking Policies
    </h1>
    <p class="sub-head uppercase text-sm sm:text-base md:text-lg">
      No walk-ins // BY APPOINTMENT ONLY
    </p>
  </div>
</section>

<!-- Booking Form -->
<section class="px-4">
  <div>
    <app-booking-form></app-booking-form>
  </div>
</section>

<!-- Additional Policies -->
<section class="py-20 px-4 sm:px-8 md:px-16 lg:px-24">
  <div
    class="flex flex-col lg:flex-row gap-8 md:gap-25 justify-center items-center lg:items-start text-center lg:text-left"
  >
    <div class="w-full sm:w-auto max-w-xs space-y-2">
      <h1 class="text-lg font-semibold sub-head uppercase">
        Booking and Payment procedure
      </h1>
      <a href="mailto:amaratamaechi@gmail.com" class="txt">
        A $50 deposit to
        <span class="hover:text-rose-500">amaratamaechi&#64;gmail.com </span>is
        required to confirm your appointment, send receipt of payment via dm to
        confirm booking, once this is confirmed full address will be sent to
        you. Deposit are non refundable unless for good reasons.
      </a>
    </div>

    <div class="w-full sm:w-auto max-w-xs space-y-2">
      <h1 class="text-lg font-semibold sub-head uppercase">Late Policy</h1>
      <p class="txt">
        You have 15 minute grace period, before your appointment is cancelled.
        No extra guests allowed.
      </p>
    </div>

    <div class="w-full sm:w-auto max-w-xs space-y-2">
      <h1 class="text-lg font-semibold sub-head uppercase">Cancellation</h1>
      <p class="txt">
        You may cancel at least 24-48 hours in advance. Missing an appointment
        without prior notice means forfeiting initial deposit.
      </p>
    </div>
  </div>
</section>
